<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="0">
        Sáb
      </ion-segment-button>
      <ion-segment-button value="1">
        Dom
      </ion-segment-button>
      <ion-segment-button value="2">
        Seg
      </ion-segment-button>
      <ion-segment-button value="3">
        Ter
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list #scheduleList [hidden]="shownSessions === 0">

    <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">

      <ion-item-divider sticky>
        <ion-label>
          {{group.time}}
        </ion-label>
      </ion-item-divider>

      <ion-item *ngFor="let session of group.sessions" [attr.opt]="session.opt" [hidden]="session.hide">

        <button ion-item (click)="goToSessionDetail(session)">
          <h3>{{session.name}}</h3>
          <p>
            {{session.timeStart}} &mdash;
            {{session.timeEnd}}:
            {{session.location}}
          </p>
        </button>

      </ion-item>

    </ion-item-group>

  </ion-list>

  <ion-list-header [hidden]="shownSessions > 0">
      Nenhuma programação encontrada
  </ion-list-header>

</ion-content>